<%- include('includes/head.ejs') %>


</head>
<script src="/javascripts/common.js"></script>
<body class="container">
<%- include('includes/nav.ejs') %>
<div class="row">
    <div class="col-md-4">

        <%- include('includes/menu.ejs') %>
    </div>

    <div class="col-md-6">


        <h1><i><small>Please do search here!!!</small></i></h1>
		<% if (!!data.customer) { %>
		    <% if (!!data.users) { %>
		        <% data.users.forEach(function(cust) { %>
		    <div>
		        <img src="data:image/<%=cust.profilepic.contentType%>;base64,
		                     <%=cust.profilepic.imgdata.toString('base64')%>" width="300" height="250">
		        <div>
		            <p><%= cust.firstname %> <%= cust.lastname %><p>


		            <button onClick="addFollowers('<%= data.customer._id %>','<%= cust._id %>')" >Follow </button>
		            <button onClick="blockUser('<%= data.customer._id %>','<%= cust._id %>')" >Block </button>



		        </div>
		    </div>
		    <% })
		    }
		    } 
		    %>



    </div>
</div>

</body>
</html>
